<!doctype html>
<html ng-app="scrapbook">
  <head>
    <script src="/angular.js"></script>
    <script src="/underscore.js"></script>
  </head>
  <body>
    <div ng-controller="getjson">
      <div ng-repeat="(stepId, result) in results">
        <div ng-if="result.reviewed===false">
          <img ng-click="result.reviewed = true" width="200" ng-src="/report/{{stepId}}-{{result.hash}}.png" alt="" />
          <label for="checkbox"></label><input type="checkbox" name="checkbox" value="" ng-model="result.reviewed">
        </div>
      </div>
      
      
      <button type="button" name="button" ng-click="save()">Save Results</button>
  </div>
  </body>
</html>

<script type="text/javascript">
  var app = angular.module("scrapbook", []);

  app.controller("getjson", ["$scope", "$http", "$q", function($scope, $http, $q) {
    $q.all([$http.get("/config"), $http.get("/results"), $http.get("/flows")]).then(function(data) {
      $scope.config = data[0].data;
      $scope.flows = data[2].data;
      $http.get("/report/" + $scope.config.results.reportFile).then(function(data) {
        $scope.results = data.data;
      });
      
      $scope.save = function() {
        $http.post("/results", $scope.results).then(function(data) {
          console.log(data);
        });
      }
    });
  }]);
</script>